 .form {
    width: 700px;
    margin-left: 120px;
    padding: 30px;
    border: 10px pink solid;
    border-radius: 15px;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}



